---
Language: Cpp

# Basic formatting rules
IndentWidth: 3
TabWidth: 3
UseTab: Never

# Braces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterUnion: true
  AfterEnum: true
  AfterNamespace: true
  AfterControlStatement: true
  BeforeElse: true
  BeforeCatch: true

# Comments
AlignTrailingComments: true
SpacesBeforeTrailingComments: 2
ReflowComments: true
SpacesInLineCommentPrefix:
  Maximum: 1

# Spacing
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true

# Line breaks
ColumnLimit: 120
MaxEmptyLinesToKeep: 1

# Alignment
AlignConsecutiveMacros: true
