BasedOnStyle: Microsoft
SpaceAfterCStyleCast: true


Language: Cpp
ColumnLimit: 100
IndentWidth: 3
UseTab: Never
AlignOperands: true
SpacesInCStyleCastParentheses: false
SpacesInLineCommentPrefix:
  Minimum: 1