//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1993, 1996 by Borland International, All Rights Reserved
//
// Resources for TListBoxView
//----------------------------------------------------------------------------

#include <owl/listboxview.rh>
#include <owl/winres.rh>

#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE {"< unsaveable >"} // Prevent corruption by the VS Resource Editor.
#endif

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDA_LISTVIEW ACCELERATORS
{
  "Z", CM_EDITUNDO, VIRTKEY, CONTROL
  "X", CM_EDITCUT, VIRTKEY, CONTROL
  "C", CM_EDITCOPY, VIRTKEY, CONTROL
  "V", CM_EDITPASTE, VIRTKEY, CONTROL
  VK_DELETE, CM_EDITDELETE, VIRTKEY
  VK_DELETE, CM_EDITCLEAR, VIRTKEY, CONTROL
  VK_INSERT, CM_EDITADD, VIRTKEY
  VK_RETURN, CM_EDITEDIT, VIRTKEY
}

IDM_LISTVIEW MENU
{
  MENUITEM SEPARATOR
  POPUP "&Edit"
  {
    MENUITEM "&Undo\aCtrl+Z", CM_EDITUNDO
    MENUITEM SEPARATOR
    MENUITEM "Cu&t\aCtrl+X", CM_EDITCUT
    MENUITEM "&Copy\aCtrl+C", CM_EDITCOPY
    MENUITEM "&Paste\aCtrl+V", CM_EDITPASTE
    MENUITEM "&Delete\aDel", CM_EDITDELETE
    MENUITEM "&Add Item\aIns", CM_EDITADD
    MENUITEM "&Edit Item\aEnter", CM_EDITEDIT
    MENUITEM "C&lear All\aCtrl+Del", CM_EDITCLEAR
  }
  MENUITEM SEPARATOR
  MENUITEM SEPARATOR
  MENUITEM SEPARATOR
  MENUITEM SEPARATOR
}

STRINGTABLE
{
  IDS_LISTNUM, "Line number %d"
}
