//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1992, 1996 by Borland International, All Rights Reserved
//
// Resources for MDI
//----------------------------------------------------------------------------

#include <owl/window.rh>
#include <owl/winres.rh>

#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE {"< unsaveable >"} // Prevent corruption by the VS Resource Editor.
#endif

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

#define MDICHILD_ACTIVATION_COMMAND_HINT\
  "Activate the selected window."

STRINGTABLE
{
  IDW_FIRSTMDICHILD+0, MDICHILD_ACTIVATION_COMMAND_HINT
  IDW_FIRSTMDICHILD+1, MDICHILD_ACTIVATION_COMMAND_HINT
  IDW_FIRSTMDICHILD+2, MDICHILD_ACTIVATION_COMMAND_HINT
  IDW_FIRSTMDICHILD+3, MDICHILD_ACTIVATION_COMMAND_HINT
  IDW_FIRSTMDICHILD+4, MDICHILD_ACTIVATION_COMMAND_HINT
  IDW_FIRSTMDICHILD+5, MDICHILD_ACTIVATION_COMMAND_HINT
  IDW_FIRSTMDICHILD+6, MDICHILD_ACTIVATION_COMMAND_HINT
  IDW_FIRSTMDICHILD+7, MDICHILD_ACTIVATION_COMMAND_HINT
  IDW_FIRSTMDICHILD+8, MDICHILD_ACTIVATION_COMMAND_HINT
  IDW_FIRSTMDICHILD+9, MDICHILD_ACTIVATION_COMMAND_HINT
}
