//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1992, 1996 by Borland International, All Rights Reserved
//
// Resources for TPrinter and TPrintout
//----------------------------------------------------------------------------

#include <owl/printer.rh>
#include <owl/window.rh>
#include <owl/winres.rh>

#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE {"< unsaveable >"} // Prevent corruption by the VS Resource Editor.
#endif

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDD_ABORTDIALOG DIALOGEX 84, 51, 138, 60
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Printing"
FONT 8, "MS Shell Dlg"
{
  PUSHBUTTON "Cancel", IDCANCEL, 49, 40, 40, 14, WS_TABSTOP
  CTEXT "Now printing", -1, 33, 8, 72, 8
  LTEXT "Now printing Page %d", ID_PAGE, 14, 8, 84, 8
  RTEXT "to %d of", ID_TOPAGE, 96, 8, 27, 8
  CTEXT "'%s' on the", ID_TITLE, 4, 16, 130, 8
  CTEXT "", ID_PORT, 0, 24, 130, 8, SS_CENTER | NOT WS_VISIBLE | WS_GROUP
  CTEXT "%s on %s", ID_DEVICE, 0, 24, 130, 8
}

STRINGTABLE
{
  IDS_PRNNODEFAULT, "Cannot print without a default printer."
  IDS_PRNON, " on "
  IDS_PRNERRORTEMPLATE, "'%s' not printed. %s."
  IDS_PRNOUTOFMEMORY, "Out of memory"
  IDS_PRNOUTOFDISK, "Out of disk space"
  IDS_PRNCANCEL, "Printing canceled"
  IDS_PRNMGRABORT, "Printing aborted in Print Manager"
  IDS_PRNGENERROR, "Error encountered during print"
  IDS_PRNERRORCAPTION, "Print Error"
}
