//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1995, 1996 by Borland International, All Rights Reserved
//
// Resources to use with TPickListDialog
//----------------------------------------------------------------------------
#if defined(RC_INVOKED)
#ifndef WORKSHOP_INVOKED
# include <winresrc.h>
#endif
#include <owl/window.rh>
#include <owl/picklist.rh>
#if defined(WIN32)    
#ifndef LANG_NEUTRAL  
# include <winresrc.h>
#endif                
#endif                

#ifdef APSTUDIO_INVOKED
// This will prevent the VC++ Resource Editor user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< Cannot change standard OWL resources! >\0"
END
#endif    // APSTUDIO_INVOKED

#if defined(WIN32) || !defined(BI_MSG_LANGUAGE_JAPAN)
#if defined(WIN32)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#endif
IDD_PICKLISTDIALOG DIALOG 82, 68, 243, 101
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "PickList"
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_LIST, "LISTBOX", LBS_NOTIFY | LBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 11, 10, 155, 81
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 29, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 57, 50, 14
}
#endif

#if defined(BI_MSG_LANGUAGE_JAPAN)
#if defined(WIN32)
LANGUAGE LANG_JAPANESE, SUBLANG_NEUTRAL
#endif
IDD_PICKLISTDIALOG DIALOG 82, 68, 243, 101
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Ëß¯¸Ø½Ä"
{
 CONTROL "", IDC_LIST, "LISTBOX", LBS_NOTIFY | LBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 11, 10, 155, 81
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 29, 50, 14
 CONTROL "·¬Ý¾Ù", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 57, 50, 14
}
#endif

#endif
