//----------------------------------------------------------------------------
// OWL Extensions (OWLEXT) Class Library
//  Copyright (c) 1998 by Yura Bidus. All Rights Reserved.
//
// May be used without permission, if appropriate credit is given
//
// Note that if you link to OWLEXT statically, you must remember to
// manually include or cut-n-paste these .RC definitions into your own
// .RC file; if you forget, you will get "Create fail for ...." exceptions
// in your code at runtime.
//----------------------------------------------------------------------------
#include <owlext/tipdialg.rh>

#if defined(RC_INVOKED)
#ifndef WORKSHOP_INVOKED
#include "windows.h"
#endif

// ti[ messages
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  IDS_TIPDLG_ERRFILEABSENT,   "Tips file does not exist in the prescribed directory"
  IDS_TIPDLG_ERRFILE_CORRUPT,   "Trouble reading the tips file"
  IDS_TIP_DIDYOUKNOW,           "Did you know..."
END

IDD_TIPDLG DIALOGEX 0, 0, 231, 164
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Tip of the Day"
FONT 8, "MS Shell Dlg"
{
 CONTROL "&Show Tips on StartUp", IDC_TIP_STARTUP, "Button", BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 13, 145, 85, 15
 CONTROL "&Next Tip", IDC_TIP_NEXT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 109, 145, 50, 15
 CONTROL "&Close", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 145, 50, 15
 CONTROL "Some String", IDC_TIP_STRING, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 28, 63, 177, 60
 CONTROL "", IDC_TIP_FRAME, "Static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 12, 11, 207, 123
 CONTROL "", IDC_TIP_BULB, "Static", SS_BITMAP, 20, 17, 190, 111
}

IDB_TIP_BULB BITMAP  "res/litebulb.bmp"

#endif  // defined(RC_INVOKED)
