name: Spellcheck

on: 
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
  
jobs:
  codespell:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Spellcheck
        uses: codespell-project/actions-codespell@v2
        with:
          path: |
            kod
            dlg/npc.tab
          ignore_words_file: .codespellignore
